/*------------Body/Universal------------- */

body{
  font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  font-weight: 300 !important;
}


.navbar-brand {
  padding: 0 !important;
}

.navbar-expanded {
    border:none;
    background: transparent;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar-inverse {
  padding: 15px 0;	
}

a {
  color: white !important;
}


.active > a{
  color: #ef4035 !important;
  background-color: white !important;
  border-radius: 5px;
}

hr.colored{
  max-width: 200px;
  margin:20px auto;
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 2px;
  border-color:#ef4035;
}

/*------------Header------------- */

header{
  background-image: image-url("city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height : 100vh;
  position: relative;
  background-color: #222222;
  color: white;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height : 100vh;
  color:white;
}

.vitality{

}

.img-centered{
	margin:0 auto;
}

.img-responsive{
  max-width: 100%;
  height: auto;
	
}
.brand-name{
  font-size:80px;
  font-height:80px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 900;
}

.scroll-down{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

header .scroll-down .btn{
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  font-size: 30px;
  transition: all 0.5s;
}

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------About------------- */

#about {
  padding: 20px 0;

  .row {
	margin-bottom: 20px;
	}
}

.text-center{
  text-align: center;
}
/*------------Our Team------------- */
.item.caption{
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width:100%;
}

#ourpeople .item{
  margin: 3px;
}
.people{
  width:380;
}
/*------------Side Quote------------- */
aside{
  background-image: image-url("aside.jpg");
  display: block;
  box-sizing: border-box;
}

aside.cta-quote{
  background-attachment: fixed;
  color: white;
  background-color: #222222;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center scroll;
  font-size: 40px;
  display: block;
  padding: 300px 0;
}

span.quote{
  font-size: 40px;
  line-height: 42px;
  font-weight: 300;
  display: block;
  left: 50%;
}

.col-md-10{
  float: left;
}

.text-highlight{
  color: #ef4035;
}

.bg-gray{
  background-color: #f5f5f5
}
/*------------Our Process------------- */
/*------------Our Work------------- */
/*------------Work Carousel------------- */

.bg-1{
  background-image: image-url("project-bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: relative;
  width:100%;
  height:auto;
  background-color: #222222;
  color: white;
  background-size: cover;
  padding:300px 0;
}


.portfolio-carousel .item{
  padding: 155px 55px 155px;
  text-align: left;
  min-height: 100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------Portfolio------------- */

.portfolio-filter #filters {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
ul {
  margin-top: 0;
}
/*------------Testimonials------------- */
/*------------Pricing------------- */
#pricing{
  background-image: image-url("bg-pricing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: block-inline;
  position: relative;
  width:100%;
  height:100%;
  background-color: #222222;
  color: white;
  background-size: cover;
  padding:300px 0;
}

.pricing-cat h3 {
  text-align: center;
}

/*------------Subscription------------- */
.bg-dark{
  background-color: #222222;
  color: white;
}
section {
  padding: 100px 0;
}
/*------------Contact Us------------- */
/*------------Buy Button------------- */
.btn-full-width{
  background-color: #222222;
  color: white;
  padding: 50px 0;
  font-size: 26px;
}
/*------------Footer------------- */

footer{
  background-image: image-url("bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center scroll;
  background-attachment: fixed;
  display: block;
  background-color: #222222;
  color: white;
  background-size: cover;
  padding:50px 0 20px;
}

footer.footer.social {
    margin-bottom: 75px;
}


